<a href="https://colab.research.google.com/github/nawangriyanaputri/algoritma/blob/main/Pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a class named MyClass, with a property named x:
class MyClass:
  x = 5

In [ ]:
#Create an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

In [ ]:
#Create a class named Person, use the __init__() function to assign values for name and age:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
#The string representation of an object WITHOUT the __str__() function:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x792369b8fac0>

In [ ]:
#The string representation of an object WITH the __str__() function:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
#Insert a function that prints a greeting, and execute it on the p1 object:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
#Use the words mysillyobject and abc instead of self:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
#Set the age of p1 to 40:

p1.age = 40

In [ ]:
#Delete the age property from the p1 object:
del p1.age

In [ ]:
#Delete the p1 object:

del p1

In [ ]:
class Person:
  pass

In [ ]:
#Create a class named Person, with firstname and lastname properties, and a printname method:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
#Create a class named Student, which will inherit the properties and methods from the Person class:
class Student(Person):
  pass

In [ ]:
#Use the Student class to create an object, and then execute the printname method:

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
#Add the __init__() function to the Student class:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc

SyntaxError: incomplete input (<ipython-input-20-0fba842dbb98>, line 4)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
#Add a property called graduationyear to the Student class:

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2023

In [ ]:
#Add a year parameter, and pass the correct year when creating objects:

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2023)

In [ ]:
#Add a method called welcome to the Student class:

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
#Return an iterator from a tuple, and print each value:

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
#Strings are also iterable objects, containing a sequence of characters:

mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
#Iterate the values of a tuple:

mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
#Iterate the characters of a string:

mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
#Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
#Stop after 20 iterations:

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
x = "Hello World!"

print(len(x))

12

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

In [ ]:
#Different classes with the same method:

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
#Create a class called Vehicle and make Car, Boat, Plane child classes of Vehicle:

class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:
#Weekly Exercise 1
class Stationary:
  def __init__(self, nama, stok, harga_satuan):
    self.nama = nama
    self.stok = stok
    self.harga_satuan = harga_satuan
    self.harga_total = self.stok * self.harga_satuan

  #Setter
  def set_data(self, nama, stok, harga_satuan):
    self.nama = nama
    self.stok = stok
    self.harga_satuan = harga_satuan
    self.harga_total = self.stok * self.harga_satuan

  #Getter
  def get_data(self):
    return {
        "Nama":self.nama,
        "Stok":self.stok,
        "Harga Satuan":self.harga_satuan,
        "Harga Total":self.harga_total,
    }

class Transaksi:
  def __init__(self):
    self.total_harga = 0

  #Setter
  def set_total_harga(self, harga):
    self.total_harga += harga

  #Getter
  def get_total_harga(self):
    return self.total_harga

bolpoint = Stationary("Bolpoint", 10, 2000)
pensil = Stationary("Pensil", 10, 1000)
penghapus = Stationary("Penghapus", 10, 500)

print(bolpoint.get_data())
print(pensil.get_data())
print(penghapus.get_data())

transaksi = Transaksi()
transaksi.set_total_harga(bolpoint.harga_total)
transaksi.set_total_harga(pensil.harga_total)
transaksi.set_total_harga(penghapus.harga_total)

print("Total Harga Semua Barang:", transaksi.get_total_harga())

{'Nama': 'Bolpoint', 'Stok': 10, 'Harga Satuan': 2000, 'Harga Total': 20000}
{'Nama': 'Pensil', 'Stok': 10, 'Harga Satuan': 1000, 'Harga Total': 10000}
{'Nama': 'Penghapus', 'Stok': 10, 'Harga Satuan': 500, 'Harga Total': 5000}
Total Harga Semua Barang: 35000