<a href="https://colab.research.google.com/github/nawangriyanaputri/algoritma/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + "Sitohang")

my_function("Toha")
my_function("Tohir")
my_function("Tobi")

TohaSitohang
TohirSitohang
TobiSitohang

In [ ]:
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, 1name)
  print(fname + " " + 1name)

my_function("Toha", "Sitohang")

SyntaxError: invalid decimal literal (<ipython-input-3-85e2468a10c5>, line 2)

In [ ]:
#This function expects 2 arguments, but gets only 1:
def my_function(fname, 1name)
  print(fname + " " + 1name)

my_function("Surip")

SyntaxError: invalid decimal literal (<ipython-input-4-2f2fdc5f270f>, line 2)

In [ ]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Lekyung", "Jimin", "Tukimin")

The youngest child is Tukimin

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest childs is " + child3)

my_function(child1 = "Lekyung", child2 = "Tukimin", child3 = "Jimin")

The youngest childs is Jimin

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His last name is " + kid["1name"])

my_function(fname = "Thanos", 1name = "ireng Man")

SyntaxError: invalid decimal literal (<ipython-input-7-6abc97654cfc>, line 5)

In [ ]:
def my_function(country = "Indonesia"):
  print("I am from " + country)

my_function("UEA")
my_function("Arab Saudi")
my_function()
my_function("Malaysia")

I am from UEA
I am from Arab Saudi
I am from Indonesia
I am from Malaysia

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def myfunction():
  pass

In [ ]:
#Recursion Example
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(1)

Recursion Example Results
1

1

In [1]:
#Weekly Exercise 1
def faktorial(x):
    if x == 1:
        return 1
    else:
        return (x * faktorial(x-1))

faktorial(5)

120

In [4]:
#Weekly Exercise 2
def Luas_Lingkaran(jarijari):
  return 3.14 * jarijari ** 2

def Luas_Persegi(sisi):
  return sisi ** 2

def Luas_Segitiga(alas, tinggi):
  return 0.5 * alas * tinggi

while True:
  print("\nPilihan Luas Bangun Datar:")
  print("1. Luas Lingkaran")
  print("2. Luas Persegi")
  print("3. Luas Segitiga")
  print("4. Keluar")

  pilihan = input("Masukkan pilihan (1/2/3/4): ")

  if pilihan == '1':
    jarijari = float(input("Masukkan jarijari : "))
    print(f"Luas Lingkaran adalah {Luas_Lingkaran(jarijari): .2f}")
  elif pilihan == '2':
    sisi = float(input("Masukkan sisi :"))
    print(f"Luas Persegi adalah {Luas_Persegi(sisi): .2f}")
  elif pilihan == '3' :
    alas = float(input("Masukkan alas : "))
    tinggi = float(input("Masukkan tinggi : "))
    print(f"Luas Segitiga adalah {Luas_Segitiga(alas, tinggi): .2f}")
  elif pilihan == '4':
    print("Selesai.")
    break
  else:
    print("Pilihan tidak valid")

Pilihan Luas Bangun Datar:
1. Luas Lingkaran
2. Luas Persegi
3. Luas Segitiga
4. Keluar
Masukkan pilihan (1/2/3/4): 1
Masukkan jarijari : 12
Luas Lingkaran adalah  452.16

Pilihan Luas Bangun Datar:
1. Luas Lingkaran
2. Luas Persegi
3. Luas Segitiga
4. Keluar
Masukkan pilihan (1/2/3/4): 2
Masukkan sisi :8
Luas Persegi adalah  64.00

Pilihan Luas Bangun Datar:
1. Luas Lingkaran
2. Luas Persegi
3. Luas Segitiga
4. Keluar
Masukkan pilihan (1/2/3/4): 3
Masukkan alas : 7
Masukkan tinggi : 10
Luas Segitiga adalah  35.00

Pilihan Luas Bangun Datar:
1. Luas Lingkaran
2. Luas Persegi
3. Luas Segitiga
4. Keluar
Masukkan pilihan (1/2/3/4): 4
Selesai.