<a href="https://colab.research.google.com/github/nawangriyanaputri/algoritma/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Condition Equal
a = 5
a == 6

False

In [ ]:
# Greater than Sign
i = 6
i > 5

True

In [ ]:
# Inequality Sign
i = 2
i != 6

True

In [ ]:
# Use Equality sign to compare the strings
"ACDC" == "Michael Jackson"

False

In [ ]:
# Use Inequality sign to compare the strings
"ACDC" != "Michael Jackson"

True

In [ ]:
# Compare characters
'B' > 'A'

True

In [ ]:
# Compare characters
'BA' > 'AB'

True

In [ ]:
"ba" >= "ba"

True

In [ ]:
# If statement example

#age = 19
age = 18

#expression that can be true or false
if age > 18:

  #within an ident, we have the expression that is run if the conditional is true
  print("you can enter")

#The statements after the if statement will run regardless if the condition is true or false
print("move on")

move on

In [ ]:
# Else statement example

#age = 17
age = 19

if age > 18:
  print("you can enter")
else:
  print("go see Meet Loaf")
  #print("move on")

print("move on")

you can enter
move on

In [ ]:
# Elif statment example

age = 18

if age > 18:
  print("you can enter")
elif age == 18:
  print("go see Pink Floyd")
else:
  print("go see Meat Loaf")

print("move on")

go see Pink Floyd
move on

In [ ]:
# Condition statement example

album_year = 1938
#album_year = 1970

if album_year > 1980:
  print("Album year is greater than 1980")

print('do something..')

do something..

In [ ]:
# Condition statement example

#album_year = 1983
album_year = 1970

if album_year > 1980:
  print("Album year is greater than 1980")
else:
  print("less than 1980")

print('do something..')

less than 1980
do something..

In [ ]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
  print("Album year was in between 1980 and 1989")

print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
# Condition statement example

album_year = 1978

if(album_year < 1980) or (album_year > 1989):
  print("Album was not made in the 1980's")
else:
  print("The album was made in the 1980's")

Album was not made in the 1980's

In [ ]:
# Condition statement example

album_year = 1984

if not(album_year == '1984'):
  print("Album year is not 1984")

Album year is not 1984

In [ ]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [ ]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [ ]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already

In [ ]:
# Weekly Exercise 1
# membuat kode program berdasarkan flowchart

Umur = int(input("umur = "))
if age <= 17:
  print("Boleh Membuat SIM")
else:
  print("Belum Boleh Membuat SIM")

umur = 16
Belum Boleh Membuat SIM

In [ ]:
Umur = int(input("umur = "))
if age >= 17:
  print("Boleh Membuat SIM")
else:
  print("Belum Boleh Membuat SIM")

umur = 17
Boleh Membuat SIM

In [ ]:
# Weekly Exercise 2
# Membuat kode program berdasarkan flowchart

nilai = int(input("nilai = "))
if nilai >= 90:
  print('A')
elif nilai >= 80:
  print('B+')
elif nilai >= 70:
  print('B')
elif nilai >= 60:
  print('C+')
elif nilai >= 50:
  print('C')
elif nilai >= 40:
  print('D')
else:
  print('E')

nilai = 99
A

In [ ]:
# Weekly Exercise 3

nilai = float(input("nilai = "))
if(nilai >= 80,00) and (nilai <= 100):
  print("Grade A")
elif (nilai >= 77,50) and (nilai <= 79,99):
  print("Grade A-")
elif (nilai >= 75,00) and (nilai <= 77,49):
  print("Grade A/B")
elif (nilai >= 72,50) and (nilai <= 74,99):
  print("Grade B+")
elif (nilai >= 70,00) and (nilai <= 72,49):
  print("Grade B")
elif (nilai >= 67,50) and (nilai <= 69,99):
  print("Grade B-")
elif (nilai >= 65,00) and (nilai <= 67,49):
  print("Grade B/C")
elif (nilai >= 62,50) and (nilai <= 64,99):
  print("Grade C+")
elif (nilai >= 60,00) and (nilai <= 62,49):
  print("Grade C")
elif (nilai >= 55,00) and (nilai <= 59,99):
  print("Grade C-")
elif (nilai >= 50,00) and (nilai <= 54,99):
  print("Grade C/D")
elif (nilai >= 45,00) and (nilai <= 49,99):
  print("Grade D+")
elif (nilai >= 40,00) and (nilai <= 44,99):
  print("Grade D")
elif (nilai < 40):
  print("Grade E")

nilai = 99
Grade A